.firstPage {
  .thumbnail {
    border-radius: 1.5625rem;
    background: radial-gradient(
      339.7% 150.1% at 2.25% 100%,
      #000 7.77%,
      #091b7c 48.81%,
      #6741ff 79.39%,
      #fdc0f8 100%
    );
    width: 52.3125rem;
    height: 32.6875rem;
    margin: 0 auto;
  }
  h1 {
    color: #010046;
    text-align: center;
    font-family: "Mona Sans Expanded";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 7.12rem 18.12rem 0rem;
  }
  p {
    color: #37375a;
    font-size: 1rem;
    text-align: center;
  }
  button {
    display: block;
    margin: 1.88rem auto;
    display: flex;
    height: 3rem;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.75rem;
    background: #3632ff;
    backdrop-filter: blur(8.899999618530273px);
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
  }
}
