.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  button {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #3632ff;
    color: #fff;
    font-family: 'Mona Sans Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
  h1 {
    color: var(--Header-Color, #010046);
    text-align: center;
    font-family: 'Mona Sans Expanded';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 113.057%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .text {
    color: #010046;
    text-align: center;
    font-family: 'Mona Sans Expanded';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  form {
    display: flex;
    padding: 40px 30px;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // align-items: flex-start;
    gap: 40px;
    border-radius: 35px;
    border: 1px solid var(--Light-Stroke, #e1e0ff);
    background: #fff;
    box-shadow: 0px 1px 13.5px 0px rgba(54, 50, 255, 0.1);
    width: 670px;

    .info_detail {
      display: flex;
      justify-content: space-between;
      .name_input,
      .email_input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'Mona Sans Expanded';
        font-size: 1rem;

        input {
          border-radius: 10px;
          border: 1px solid var(--Light-Stroke, #e1e0ff);
          background: #fbfbfe;
          box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
          display: flex;
          width: 280px;
          padding: 15px 20px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          outline: none;
          font-size: 1rem;
        }
      }
    }
    .form_area {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1rem;

      textarea {
        display: flex;
        height: 100px;
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--Light-Stroke, #e1e0ff);
        background: #fbfbfe;
        box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
        outline: none;
        resize: none;
        font-size: 1rem;
      }
    }
    .submit_btn {
      width: 106px;
      padding: 0px 20px;
      height: 46px;
      font-size: 1rem;
    }
  }
  .field_page {
    display: flex;
    padding: 40px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 35px;
    border: 1px solid #e1e0ff;
    background: linear-gradient(86deg, #fff -9.45%, #3a27ff 179.36%);
    box-shadow: 0px 1px 13.5px 0px rgba(54, 50, 255, 0.1);
    margin: 168px 200px;
    font-size: 1rem;
  }
}
