.rightsidebar_wrapper {
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  .settings {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    img {
      width: 20px;
      opacity: 0.5;
    }
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    .profile_img_wrapper {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      .profile_icon {
        width: 100%;
      }
    }
    p {
      font-weight: bold;
      color: #182164;
    }
  }
  .task_stats_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    p {
      color: #182164;
      font-weight: bold;
    }
    .stats_list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .total,
      .completed,
      .pending {
        display: flex;
        justify-content: space-between;
        div {
          width: 20px;
          height: 25px;
          background-color: #cdd2e5;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            color: #3852fa;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }
    }
  }
}
