.top_navbar {
  margin: 2rem 1rem;
  width: 350px;
  height: 90vmin;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  .title_wrapper {
    display: flex;
    .logo_dashboard {
      width: 2.25rem;
      height: auto;
      margin: auto;
    }
    h2 {
      margin: 0;
      padding: 0;
      color: #182164;
    }
  }
  ul {
    margin-top: 2rem;
    li {
      list-style-type: none;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.342);
      :hover {
        color: #5269ff;
      }

      a {
        text-decoration: none;
        color: black;
        img {
          width: 20px;
          margin-right: 1rem;
        }
      }
    }
  }
  .btn_addtask {
    background-color: #5269ff;
    color: #fff;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: 2rem;
    left: 4rem;
  }
}
