.reusable_btn {
  display: block;
  margin: 1.88rem auto;
  display: flex;
  height: 3rem;
  padding: 0.875rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background: #3632ff;
  backdrop-filter: blur(8.899999618530273px);
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
