* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dashboard_wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #dcdfea;
  position: relative;
}
.modal_wrapper {
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 10;
}
.modal_open {
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 1;
}
